.ng_contact_body {
    margin: 0px;
    background-repeat: no-repeat;
    min-height: 877px;
    background-image: url(./images/bg_contact.png);
    background-color: #efefef;
    background-size: 100%;
    justify-content: center;
    display: flex;
}

/* Form user info*/
.ng-sign-up-form {
    margin-top: 100px;
    font-family: montserrat-bold;
}
.ng-label-lienhe {
	margin-bottom: 31px;
	font-size: 27px;
	color: #808080;
	text-transform: uppercase;
}
.ng-sign-up-form .form-group label  {
    font-size: 23px;
   	color: #808080;
}
.ng-sign-up-form .form-group label>small {
	font-size: 14px;
    font-weight: 100;
	font-family: montserrat-normal;
}
.ng-radius-element {
	border: unset;
	border-radius: 25px !important;
    padding: 25px;
}
.ng-nutsubmit-1 {
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: none;
    outline: none;
    border: none;
    color: #fff;
    background: #72bf44;
}
.ng-nutsubmit-2 {
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: none;
    outline: none;
    border: none;
    color: #fff;
    background: #808080;
    margin-left: 10px;
}
.ng-follow-us {
	font-family: montserrat-normal;
	font-size: 23px;
	text-align: right;
	color: #808080;
}
.ng-mt-60 {
    margin-top: 60px;
}
.ng-group-icon-user {
    padding-right: 0px;
    display: flex;
    justify-content: center;
}
.ng-icon-user {
    font-size: 370px;
    border-radius: 100%;
    background: #ddd;
    color: #fff;
    width: 450px;
    height: 450px;
    text-align: center;
    line-height: 1.2;
    cursor: pointer;
}

.ng-group-upload {
    margin-top: 5px;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: montserrat-semibold;
    color: #808080;
}

.ng-group-upload>span {
    cursor: pointer;
}
.ng-nutupoad-2 {
    font-size: 20px;
    font-family: montserrat-semibold;
    color: #808080;
}
.ng-nutupoad-2:nth-child(1) {
    display: none;
}
.ng-none-user-select {
    user-select: none;
}
.ng-pointer {
    cursor: pointer;
}
